<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">


</head>

  <div id="container">
    <header>
        <%= header %>
    </header>
    
    <div id="main">
        <%- body %>
    </div>
    
    <footer>
        <%= footer %>
    </footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->


  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

</body>
</html>